body, html {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

h1 {
	margin: 0;
}

.score_container {
	margin: 5px;
	font-size: 14px;
	font-family: '나눔고딕';
	font-weight: bold;
	margin:50px;color:#FFF;font-size:18px;
}
.clear {
	clear: both;
}
.block {
	width: 22px;
	height: 22px;
	outline: 1px dashed #111;
	float: left;
}


.main_btn{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	width:150px;
	background: -moz-linear-gradient(
		top,
		#ffbdf5 0%,
		#ff82ec 25%,
		#a946fa);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffbdf5),
		color-stop(0.25, #ff82ec),
		to(#a946fa));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 3px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,000,217,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,000,217,1);
	box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,000,217,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);

}

.single_block {
	position: absolute;
}

.single_block .empty_block {
	background-color: transparent;
	float: left;
}

.single_block .fill_block_16{
	float: left;
	background-image:url('../img/mino_next_16.png');
}

.single_block .fill_block_12{
	float: left;
	background-image:url('../img/mino_next_10.png');
}

.next_block{
	height:80px;
	border:1px solid #AAA;
	border-radius:10px;
	background-color:rgba(200,200,200, 0.2);
}

.next_block_container{
	padding:5px 0 0 5px;

	
}

.next_group_block_container{
	padding:15px 0 0 13px;
}

.other_user_canvas{
	width:100px;height:215px;margin-top:0px;
	margin-bottom:15px;
}

.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FCFCFD;
	border-color: #D3D4D7 #BABABD #BABABD #D3D4D7;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	color: #333;
	display: inline-block;
	line-height: 25px;
	padding: 0 10px;
	cursor: pointer;
	margin-top:5px;
	width:60px;
}

.jpad {
	float: left;
	font-size: 30px;
	cursor: pointer;
	width:40px;height:40px;
	margin:2px;
	color:rgba(255,255,255,1.0);
	text-align:center;
	text-shadow: 0 0 7px #000;
	box-shadow:0 0 10px #000;
	background-color:rgba(255,255,255, .2);
	border:1px solid rgba(255,255,255, .5);
	border-radius:15%;
}


.game_btn{
	margin-top:10px;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:'나눔고딕';
	font-size:12px;
	font-weight:bold;
	margin:5px 0px;
	padding:6px 0px;
	text-decoration:none;
	
	width:84px;

	
	background: -moz-linear-gradient(
		top,
		#afd9fa 0%,
		#588fad);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#afd9fa),
		to(#588fad));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px 1px 2px rgba(255,255,255,0.7),
		0px 1px 2px rgba(255,255,255,0.3);

}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
	color:#000;
}.btn:active {
	position:relative;
	top:1px;
}

@charset "utf-8";
/* NHN Web Standardization Team (http://html.nhndesign.com/) LKJ 2012-09-05 */

/* Reset */
html, body {
	width: 100%;
	height: 100%
}
html {
	overflow-y: scroll
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button {
	margin: 0;
	padding: 0
}
body, h1, h2, h3, h4, input, button {
	font-family: '����', dotum, Helvetica, sans-serif;
	font-size: 12px;
	color: #383d41
}
body {
	background-color: #fff;
	text-align: center;
	*word-break: break-all;
	-ms-word-break: break-all
}
img, fieldset, iframe {
	border: 0 none
}
li {
	list-style: none
}
input, select, button {
	vertical-align: middle
}
img {
	vertical-align: top
}
i, em, address {
	font-style: normal
}
label, button {
	cursor: pointer
}
button {
	margin: 0;
	padding: 0
}
a {
	color: #2f3743;
	text-decoration: none
}
a:hover {
	color: #FFF;
	text-decoration: underline
}
button * {
	position: relative
}
button img {
	left: -3px;
	*left: auto
}
html:first-child select {
	height: 20px;
	padding-right: 6px
}
option {
	padding-right: 6px
}
hr {
	display: none
}
legend {
	*width: 0
}
table {/* border-collapse:collapse;table-layout:fixed; */
	border-collapse: collapse;
	border-spacing: 0
}

body {
	background-color: #111;
}
.container {

	margin-left: 0;
	
}


.app {
	background-repeat: no-repeat;
	width: 320px;
	

	left:50%;	
}

.field_container {
	background-image: url('../img/TET_fieldbackL.png');
	background-repeat: no-repeat;
}

.col1{
	width:127px;float:left;
}
.col2{
	width:240px;float:left;
}

.col3{
	width:85px;margin-left:13px;float:left;
	
}

.bottom_banner{
	background-image:url('../img/TET_noticeback.png');width:373px;height:36px;
	margin-top:20px;margin-left:111px;
}
.field_top{
	height:56px;outline:0px solid #FFCC00;
}

.field{
	width:100%;height:100%;
}

.item_area{
	height:63px;outline:0px dashed #FFF;margin:8px 6px 4px 6px;width:220px;
}

.user_info{background-image:url('../img/TET_informe.png');height:84px;width:231px;}


.hold_num {background-image:url('../img/TET_number_time.png');background-repeat:no-repeat;width:15px;height:21px;float:left;}

.n0{background-position: 0px 0px }
.n1{background-position: -14px 0px }
.n2{background-position: -30px 0px }
.n3{background-position: -45px 0px }
.n4{background-position: -60px 0px }
.n5{background-position: -75px 0px }
.n6{background-position: -90px 0px }
.n7{background-position: -105px 0px }
.n8{background-position: -120px 0px }
.n9{background-position: -135px 0px }

.time_hour{width:30px;float:left;margin:10px 11px 0 8px;}
.time_min{width:30px;float:left;margin:10px 0px 0 0px;}


.next_block_group{
	height:200px;margin-top:3px;
}
.play_time{height:42px;margin-top:0px;}

.other_user_container{
	position:absolute;top:65px;left:10px;width:450px;
}

.other_user{
	background-image:url('../img/TET_fieldbacks.png');width:126px;height:329px;float:left;
}

.first_row{
	margin-left:9px;	
}

.second_row{
	margin-top:4px;
}

.info_container{
	position:absolute;
	left:780px;top:80px;
}
.pop_menu{
	width:225px;height:151px;background-image:url('../img/TET_popback.png');margin-top:10px;
}
.banner{
	width:225px;height:87px;background-image:url('../img/season2_banner.png');
}
.happy_cube{
	width:229px;height:87px;background-image:url('../img/happyc_back.png');margin-top:10px;margin-left:-4px;
}

.score_board{
	width:225px;height:126px;background-image:url('../img/Single/score_back.png');position:absolute;top:-39px;
}

.chat_info{margin:3px;width:221px;height:90px;overflow-y:scroll;outline:1px dashed #FFCC00;text-align:left;color:#FFF;font-weight:bold;}
.chat_area{margin:3px;margin-top:10px;width:221px;height:97px;overflow-y:scroll;outline:0px dashed #FFCC00;text-align:left;color:#FFF;}

.chat_input{width:220px;border:0;background-color:transparent;color:#FFF;}


.badge{
	background-image:url('../img/levelicon_L.png');height:80px;width:70px;background-repeat:no-repeat;float:left;
}

.info {position:relative;}

.user_id_txt{padding-top:25px;}

.number_on_ly_me{
	background-image:url('../img/TET_number_only_me.png');height:32px;width:22px;position:absolute;right:5px;top:5px;
}

.nl1{background-position: 0px 0px}
.nl2{background-position: -22px 0px}
.nl3{background-position: -44px 0px}
.nl4{background-position: -66px 0px}
.nl5{background-position: -88px 0px}
.nl6{background-position: -110px 0px}

a {cursor:pointer}

.tip_btn{background-image:url('../img/tap_tip.png');height:32px;width:57px;float:left;}
.tip_btn:hover{background-position:-114px 0;}

.option_btn{background-image:url('../img/tap_option.png');height:32px;width:56px;float:left;}
.option_btn:hover{background-position:-112px 0;}

.map_btn{background-image:url('../img/tap_map.png');height:32px;width:56px;float:left;}
.map_btn:hover{background-position:-112px 0;}

.key_btn{background-image:url('../img/tap_keysetting.png');height:32px;width:56px;float:left;}
.key_btn:hover {background-position:-112px 0;}

.tip {background-image:url('../img/tip_text.png');width:190px;height:90px;background-repeat:no-repeat;}

.tip_1{background-position:-10px -20px;}
.tip_2{background-position:-10px -140px;}
.tip_3{background-position:-10px -260px;}
.tip_4{background-position:-10px -385px;}
.tip_5{background-position:-10px -510px;}
.tip_6{background-position:-10px -640px;}
.tip_7{background-position:-10px -770px;}
.tip_8{background-position:-10px -890px;}
.tip_9{background-position:-10px -1015px;}

.slides_container {
    width:200px;
    height:100px;
    margin:10px 20px;
    overflow:hidden;
}

.debug_area{
	width:264px; height:484px;outline:2px dashed #FF0000;margin-top:-14px;position:absolute;margin-left:-22px;display:none;
}

.top_navi{
	position:absolute;right:0;margin:11px;
}

.top_navi .close_btn{
	background-image:url('../img/TET_topbtn_mix.png');
}

.top_navi .fullscreen_btn {
	background-image:url('../img/TET_topbtn_max.png');
}
.top_btns{
	float:right;width:19px;height:19px;margin-right:5px;cursor:pointer;
}
.top_btns:hover{
	background-position:-36px 0;
}
.top_btns:active{
	background-position:-55px 0;
}