<link rel="stylesheet" href="res/css/game.css"/>

<div class="_option option_btn">
    <i class="fa fa-cog"></i>
</div>

<div class="_mobile keypad_arrow_btn">
    <div class="jpad up" id="up"><i class="fa fa-angle-up"></i></div>
    <div style="clear:both;">
        <div class="jpad" id="left" style="border-right:0;"><i class="fa fa-angle-left"></i></div><div class="jpad down" id="down"><i class="fa fa-angle-down"></i></div>
        <div class="jpad" id="right" style="border-left:0;"><i class="fa fa-angle-right"></i></div>
    </div>
</div>

<div class="_mobile keypad_action_btn">
    <div class="jpad" id="harddown">
        <i class="fa fa-angle-double-down"></i>
    </div>
</div>

<div class="container" style="position:relative;height:100%;box-sizing:border-box;padding-bottom:20px;">

    <div class="_score_board _multi" style="display:none;height:100px;position:absolute;width:100%;">
        <div style="position:absolute;left:10%;border-left:1px solid #FFF;margin-top:15px;">
            <div style="padding:1px 3px;border-radius:0 5px 0 0;text-align:left;margin-bottom:8px;border-bottom:1px solid #FFF;font-size:11px;background-color:rgba(255,255,255,.3)">
                You are <b>50st</b>
            </div>
            <div style="width: 0;margin-left:-6px;margin-bottom:-1px;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #FFF;"></div>
        </div>


        <div style="width:100%;margin-top:49px;box-shadow:0 1px 2px rgba(0,0,0,1);border-top:5px dotted rgba(255,255,255,.5);border-bottom:1px solid rgba(255,255,255,.8);"></div>
        <div style="opacity:.5;">
            <div style="float:left;margin:5px 0 0 0;-webkit-transform:rotate(90deg);">1st</div>
            <div style="float:right;margin:5px 0 0 0;-webkit-transform:rotate(90deg);">last</div>
        </div>
    </div>

    <div class="field_container" id="touch_area" style="box-sizing:border-box;background:none;z-index:0;position:absolute;top:0;bottom:0;width:100%;">
        <div style="position:absolute;top:50px;color:rgba(255,255,255,.2);text-align:left;margin-left:50px;font-size:50px;z-index:-1;">
            Score<br>
            <span class="score">10000</span>
        </div>

        <div class="field" style="box-sizing:border-box;">
            <div id="debug_area" class="debug_area"> </div>

            <div class="_multi animated _front_user_info" style="width:22.5%;padding:0 10px;left:0;top:50%;margin-top:-100px;bottom:0;position:absolute;height:120px;">
                <div class="_rank"></div>
                <div id="other_1_game_area" style="height:120px;" class="other_stage"></div>
                <div class="_text"></div>
            </div>

            <div class="" style="position:absolute;width:100%;left:0px;top:15px;overflow:hidden;"><span class="_play_time" style="font-size:15px;width:100px;margin:auto;display:block;"></span></div>

            <div id="single_game_area" style="overflow:hidden;width:55%;position:absolute;left:22.5%;margin-top:-210px;top:50%;height:380px;background-color:rgba(50,50,50,.2);box-shadow:inset 0 0 5px #222;border:1px solid rgba(255,255,255,.7);"> </div>

            <div class="_multi animated _back_user_info" style="width:22.5%;padding:0 10px;right:0;top:50%;margin-top:-100px;bottom:0;position:absolute;height:120px;">
                <div class="_rank"></div>
                <div id="other_2_game_area" style="height:120px;" class="other_stage" ></div>
                <div class="_text"></div>
            </div>

        </div>
    </div>

    <div class="col3 _next_block" style="overflow:hidden;display:block;position:absolute;margin:auto;bottom:65px;right:5px;width:60px;height:60px;">
        <div style="position:absolute;margin:auto;text-align:center;line-height:1;left:10px;top:3px;color:rgba(255,255,255,1);width:45px;padding-bottom:3px;z-index:1;border-bottom:1px solid #FFF;">
            <span style="font-size:15px;">Next</span>

        </div>
        <div class="next_block" style="position:relative;margin-left:8px;margin-top:2px;-webkit-transform:scale(0.7);-moz-transform:scale(0.7);">
            <div class="next_block_container" style="width:67px;height:67px;position:relative;"> </div>
        </div>
        <div class="next_block_group">
            <div class="next_group_block_container"> </div>
        </div>

    </div>

</div>
