html, body{
	margin:0;padding:0;
}
#login-box {
	
	color: #999;
	font: 12px Trebuchet MS;
	width:320px;overflow:hidden;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #333;
	font: bold 44px "Calibri", Arial;
}


.login-box-name {
	float: left;
	display:inline;
	width:80px;
	margin-left:15px;
	text-align: right;
}

.login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	
	width:100%;margin:auto;margin-top:10px;
	margin-bottom:20px;
}

.login_title{
	font-size:25px;font-weight:bold;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.login_btn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	padding: 10px 115px;
	background: -moz-linear-gradient(
		top,
		#ff2819 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff2819),
		to(#ab0000));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 10px;
	border: 1px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
		text-shadow: 0 0px 2px rgba(0,0, 0, 0.9);
}
.login-box-field .label{
	font-size:22px;width:70px;float:left;margin:10px;margin-top:5px;margin-right:10px;
}

.form_input {
	padding: 10px 4px 6px 3px;
	border-radius:20px;
	border: 1px solid #BBB;
	background-color:#FFF;
	font-size: 16px;
	color: #AAA;
	width:180px;border-radius:5px;
}

.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}