
.ul_list{
	
}

.ul_list li{
	border-bottom:1px solid #CCC;
	padding:5px;
	background-color:#F8F8F8;
	cursor:pointer;text-align:left;
    float:left;
}

#selectable .ui-selecting { background: #CCC; }
#selectable .ui-selected { background: #AAA; color: white; }


.container{position:relative;}
.current_members{width:300px;text-align:left;margin:10px;}
.stage{width:100%;height:602px;border:0px solid #CCC;border-left:0;float:left;}
.other_user{float:left;width:150px;border:1px solid #CCC;margin:5px;}
.other_user canvas{background-color:#222;}
.info{background-color:#EEE;width:100%;margin-top:5px;padding:4px 0;border-top:1px solid #DDD;}