<link rel="stylesheet" href="res/css/gameboard.css" />

<div class="container" style="padding-top:50px;">

    <div style="width:100%;height:30px;overflow-x:scroll;overflow-y:hidden;">
        <ul id="_connectedPeople" class="ul_list" style="width:4024px;height:600px;border-radius:10px;">

        </ul>
    </div>
    <div style="width:100%;height:25px;overflow-x:scroll;overflow-y:hidden;">
        <ul id="_gamePeople" class="ul_list" style="width:232px;height:600px;border-radius:10px;">

        </ul>
    </div>

    <div class="stage" id="stage">
        <ul id="_watch">

        </ul>
    </div>

</div>
