
<style type="text/css">


    ul.screen_menu{
        margin-top:5px;

    }

    .screen_menu li{

        font-size:15px;padding:7px;
        border-bottom:1px dashed #EEE;
        cursor:pointer;

        text-shadow:0 1px 2px rgba(50,50,50, 0.2);
    }
    .screen_menu li a{
        color:#888;
    }

    .screen_menu li:first-child{
        border-top:1px solid #CCC;
    }

    .screen_menu li:last-child{
        border-bottom:1px solid #CCC;
    }

    .title{
        font-size:25px;
    }
</style>
        
<div style="width: 200px;
	height: 250px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
">
    

    <div style="text-align:center;">
        <h1 class="title">Tetris.js</h1>
    </div>

    <div class="_welcome" class="animated" style="font-size:11px;border-radius:2px;position:absolute;background-color:#CCC;padding:4px 7px;margin-top:-4px;">
        Hi! <%=sName%>
    </div>

    <div class="_conn_user_cnt" class="animated" style="font-size:10px;border-radius:2px;position:absolute;right:0;background-color:#CCC;padding:4px 7px;margin-top:-4px;">
        Con.<span><%=nConnectedUser%></span>
    </div>
    
    <ul class="screen_menu">
        <li><a href="#" class="_menu_item" data-navigate="single">Single Game</a></li>
        <li class="_menu_item" data-navigate="multi"><a>Multi Game</a></li>
        <li class="_menu_item" data-navigate="board"><a>Live Board</a></li>
        <li class="_menu_item" data-navigate="credit"><a>Credit</a></li>
        <li class="_menu_item" data-navigate="logout"><a>Logout</a></li>
    </ul>

    <div style="font-size:10px;color:#DDD;margin-top:10px;">
        Powered with MEBN Stack<br>
        by lee.jinkwon<br>
        <a href="http://github.com">http://github.com</a>
    </div>
</div>