
<style type="text/css">

    
</style>
        
<div>
    
    <div>
        Hello! <%=sName%>
    </div>
    
    <div style="text-align:center;">
        <h1>Tetris</h1>
    </div>
    
    <ul class="screen_menu" style="width:300px;margin:auto;text-align:center;">
        <li><a href="#" class="_menu_item" data-navigate="single">{{CHAT.TALK_TO_MEMBER}}</a></li>
        <li><a href="#" class="_menu_item" data-navigate="multi">Multi Game</a></li>
        <li><a href="#" class="_menu_item" data-navigate="board">Live Board</a></li>
        <li><a href="#" class="_menu_item" data-navigate="credit">Credit</a></li>
    </ul>
</div>