<div class="container">

    <div id="app" class="app">

        <div class="top_navi">
            <a href="gameboard.html"><div class="top_btns close_btn"> </div></a>
            <a href="#"><div class="top_btns fullscreen_btn" id="fullscreen_btn"> </div></a>
        </div>

        <div class="other_user_container">
            <ul>
                <div class="first_row">
                    <li class="other_user">
                        <canvas id="other_1" width="100" height="215" class="other_user_canvas"> </canvas>
                    </li>
                    <li class="other_user">
                        <canvas id="other_2" width="100" height="215" class="other_user_canvas"> </canvas>
                    </li>
                </div>
                <div style="clear:both;"> </div>
                <div class="second_row">
                    <li class="other_user">
                        <canvas id="other_3" width="100" height="215" class="other_user_canvas"> </canvas>
                    </li>
                    <li class="other_user">
                        <canvas id="other_4" width="100" height="215" class="other_user_canvas"> </canvas>
                    </li>
                    <li class="other_user">
                        <canvas id="other_5" width="100" height="215" class="other_user_canvas"> </canvas>
                    </li>
                </div>
            </ul>
        </div>

        <div class="field_container">

            <div class="col1">
                <div class="room_type">
                    <div style="width:130px;height:100px;padding-top:85px;text-align:center;color:#FFF;font-size:25px;cursor:pointer;text-decoration:underline;" id="ssamdi">쌈디</div>
                </div>
            </div>

            <div class="col2">
                <div class="field_top"> </div>
                <div class="field">
                    <div id="debug_area" class="debug_area"> </div>
                    <canvas id="game_area" width="220" height="448" style="width:220px;height:448px;"> </canvas>
                    <canvas id="game_area2" width="220" height="448" style="width:220px;height:448px;left:0;top:0;	position:absolute;"> </canvas>
                </div>

                <div class="item_area"> </div>
                <div class="user_info">

                    <div class="badge"> </div>

                    <div class="info">
                        <div class="user_id_txt" id="_userInfo">
                            초보<br>[호칭없음]
                        </div>

                        <div class="number_on_ly_me nl5"> </div>
                    </div>

                </div>
            </div>

            <div class="col3">
                <div class="next_block">
                    <div class="next_block_container"> </div>
                </div>
                <div class="next_block_group">
                    <div class="next_group_block_container"> </div>
                </div>
                <div class="play_time">
                    <ul class="time_hour">
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>

                    <ul class="time_min">
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>

                <div class="game_btn">
                    <a class="btn" id="start_btn">연습게임</a>
                    <a class="btn" id="stop_btn" style="display:none">연습중지</a>
                    <a class="btn" id="ready_btn" style="display:none">준비</a>
                    <a class="btn" id="cancel_btn" style="display:none">취소</a>

                    <a class="btn" id="debug_btn" style="display:none">Debug</a>
                    <a href="gameboard.html" class="btn" id="robby_btn" style="display:block">로비</a>
                </div>
            </div>

        </div>

        <div class="info_container">
            <div class="score_board">
                <div class="score_container">
                    <span class="score"></span>
                </div>

            </div>
            <div class="banner"> </div>
            <div class="happy_cube"> </div>

            <div class="pop_menu">

                <div>
                    <a class="tip_btn pop_btn" id="tip_btn"> </a>
                    <a class="option_btn pop_btn" id="option_btn"> </a>
                    <a class="map_btn pop_btn" id="map_btn"> </a>
                    <a class="key_btn pop_btn" id="key_btn"> </a>
                </div>

                <div style="clear:both;"> </div>

                <div id="slides">
                    <div class="slides_container">
                        <div class="tip tip_1"> </div>
                        <div class="tip tip_2"> </div>
                        <div class="tip tip_3"> </div>
                        <div class="tip tip_4"> </div>
                        <div class="tip tip_5"> </div>
                        <div class="tip tip_6"> </div>
                        <div class="tip tip_7"> </div>
                        <div class="tip tip_8"> </div>
                        <div class="tip tip_9"> </div>
                    </div>
                </div>

            </div>

            <div class="chat_info">이진권님이 입장하였습니다<br>이진권님이 퇴장하였습니다<br></div>
            <div class="chat_area"> </div>
            <div class="chat_input_container"> <input type="text" class="chat_input"> </div>
        </div>
    </div>
</div>